# ignore patterns

nnL_replay/replay/scripts/calibrate/BPM/HarpScans/*
nnL_replay/replay/scripts/calibrate/BPM/harp_results_*
nnL_replay/replay/scripts/FADC_decode/results/
nnL_replay/replay/scripts/calibrate/BPM/*.txt
nnL_replay/replay/Rootfiles*
nnL_replay/replay/plots
nnL_replay/replay/*.pdf
nnL_replay/replay/*.eps
nnL_replay/replay/*.jpg
nnL_replay/replay/Time_check/*.pdf
nnL_replay/replay/scripts/FADC_decode/*
nnL_replay/replay/scripts/list/*.pdf
nnL_replay/replay/rawdata/*

nnL_replay/**/*~
nnL_replay/**/*.o
nnL_replay/**/*.a
nnL_replay/**/*.so
nnL_replay/**/*.d
nnL_replay/**/*.root
nnL_replay/**/root_hist
nnL_replay/**/*.xpm
nnL_replay/**/*.pcm
nnL_replay/**/*.dat.*
nnL_replay/**/*Dict.*
nnL_replay/**/*.aux
nnL_replay/**/*.log
nnL_replay/**/*.out
#**/*LinkDef.*    Not a compiled file, don't ignore. Oops.
nnL_replay/**/.nfs*
#replay/*.0
#replay/*.so
#replay/*.d
#replay/*.pcm

nnL_replay/replay/onlineGUI64/online
nnL_replay/replay/onlineGUI64/*.pdf
nnL_replay/replay/scripts/SPOT/**/*.pdf
nnL_replay/replay/scripts/Time_check/*.pdf
nnL_replay/replay/scripts/Runlist/Test*
nnL_replay/replay/scripts/Runlist/test*
nnL_replay/replay/DB/*
nnL_replay/replay/RootFiles
nnL_replay/replay/RootFiles_chafs
nnL_replay/replay/ScratchRootFiles
nnL_replay/replay/summaryfiles/*
nnL_replay/replay/analysis/*

nnL_replay/scaler/xscaler
nnL_replay/scaler/hana_decode/THaDecDict.C
nnL_replay/scaler/hana_scaler/THaScalDict.C
nnL_replay/scaler/hana_decode/epicsd
nnL_replay/scaler/hana_decode/prfact
nnL_replay/scaler/hana_decode/tdecex
nnL_replay/scaler/hana_decode/tdecpr
nnL_replay/scaler/hana_decode/tstio
nnL_replay/scaler/hana_scaler/tscalasy
nnL_replay/scaler/hana_scaler/tscaldtime
nnL_replay/scaler/hana_scaler/tscalevt
nnL_replay/scaler/hana_scaler/tscalfile
nnL_replay/scaler/hana_scaler/tscalhist
nnL_replay/scaler/hana_scaler/tscalntup
nnL_replay/scaler/hana_scaler/tscalonl
nnL_replay/scaler/hana_scaler/tscalring
nnL_replay/scaler/hana_scaler/tscalroc11
nnL_replay/scaler/hana_scaler/xscaler
nnL_replay/replay/scripts/calibrate/BPM/Rootfiles
nnL_replay/replay/libs/*
